<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wechat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false">

        <activity android:name=".SortResultActivity"></activity>
        <activity android:name=".SearchResultActivity" />
        <activity android:name=".Browsing_history" />
        <activity android:name=".AlterPassword" />
        <activity
            android:name=".Register_Activity"
            android:label="注册">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login_Activity" />
        </activity>
        <activity
            android:name=".Login_Activity"
            android:label="登入">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home_Fragment" />
        </activity>
        <activity
            android:name=".info.Info_1Activity"
            android:label="  ">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home_Fragment" />
        </activity>
        <activity android:name=".Home_Fragment" />
        <activity android:name=".Extend_Fragment" />
        <activity android:name=".Person_Fragment" />
        <activity android:name=".ShoppingCart_Fragment" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>